<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #f37acb;">
    <ion-title>
      Coffe Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Coffe Card</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container" style=" background-color:green; height: 90vh;">
    <strong style="font-size: large; 60%: white;">we</strong>
  </div>
  -->

<ion-card [fullscreen]="true" collapse="condense"style="max-width: 96%;  margin: 5% 2.5%; background-color: #f37acb; border-radius: ; padding: 0px;">
  <ion-card-header>

    <ion-card style="text-align: center; float: left; background-color: rgba(225, 225, 225, 0.9);
    height: 100vh; width: 20%; color: tomato;">
        <ion-card-content style="background-color: white; height: 100px; width: 100px; margin:20px auto; border-radius: 50px;"> <img src="" alt="coffee img" ></ion-card-content>
        <p>Current Username</p>
        <p>Admin Role</p>
        <ion-button expand="block" size="large" color="#f37acb" style="color: black;">Home</ion-button>
        <ion-button expand="block" size="large" color="#f37acb" style="color: black;">Payment Plan</ion-button>
        <ion-button expand="block" size="large" color="#f37acb" style="color: black;">Track Record</ion-button>
  </ion-card>



    <ion-card style=" float: right; position: relative;
    background-color: rgba(225, 225, 225, 0.9); height: 50vh; width: 75%; margin-right: 20px; padding: 20px 40px;">
    
    <ion-card-content style=" position: absolute; top: 10%; left: 10%; background-color: white; width: 35%; height: 35%; text-align: center; margin-bottom: 10px;"> <h3> Its almost 4<sup>th</sup> of July</h3> 
    <p>It is Time To Your Glasses in The Air</p>
  </ion-card-content>
  <ion-card-content style="  position: absolute; top: 10%; right: 10%; background-color: white; width: 35%; height: 35%; text-align: center;"> <h3> Its almost 4<sup>th</sup> of July</h3> 
    <p>It is Time To Your Glasses in The Air</p>
  </ion-card-content>
  <ion-card-content style=" position: absolute; bottom: 10%; left: 10%; background-color: white; width: 35%; height: 35%; text-align: center;"> <h3> Its almost 4<sup>th</sup> of July</h3> 
    <p>It is Time To Your Glasses in The Air</p>
  </ion-card-content>
  <ion-card-content style="  position: absolute; bottom: 10%; right: 10%;  background-color: white; width: 35%; height: 35%; text-align: center;"> <h3> Its almost 4<sup>th</sup> of July</h3> 
    <p>It is Time To Your Glasses in The Air</p>
  </ion-card-content>
  </ion-card>
  <br>
  <hr>
    
    
  </ion-card-header>
  